<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-color: #343434;
            color: white;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
     <p>URL Generated: http://localhost:8001/url/<%= id %></p>
    <% } %>
    <div >
        <form method="POST" action="/url" >
            <label >Enter Your Original URL</label>
            <input type="text" name="url" placeholder="https://example.com"/>
            <button type="submit">Generate </button>
        </form>
    </div>
    <div style="text-align: center; ">
        <br>
        <% if (locals.urls) { %>
         <table border="1" cellspacing="0" cellpadding="8">
            <thead>
                <tr>
                <th>S.No</th>
                <th>ShortId</th>
                <th>Redirect</th>
                <th>Total Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% urls.forEach((url,index) => { %>
                    <tr>
                    <td><%= index + 1 %></td>
                    <td><%= url.shortId %></td>
                    <td><%= url.redirectURL %></td>
                    <td><%= url.visitHistory.length %></td>
                    </tr>
                <% }) %>
            </tbody>
         </table>
        <% } %>
    </div>
</body>
</html>